<ion-view view-title="Login">
  <ion-content>
    <form class="login-form list padding">
      <div class="oauth-signin list">
        <button 
          class="button button-full button-assertive ion-social-googleplus icon-left"
          ng-click="ctrl.socialLogin('google')">
          Login with Google
        </button>
        <button 
          class="button button-full button-positive ion-social-facebook icon-left"
          ng-click="ctrl.socialLogin('facebook')">
          Login with Facebook
        </button>
        <button 
          class="button button-full button-calm ion-social-twitter icon-left"
          ng-click="ctrl.socialLogin('twitter')">
          Login with Twitter
        </button>
      </div>
    </form>

    <div class="error padding-horizontal" ng-if="ctrl.error">
      {{ctrl.error}}
    </div>

    <form class="login-form">
      <div class="list padding">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="ctrl.loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="ctrl.loginData.password">
        </label>
        <button class="button button-block button-dark ion-email icon-left" 
          type="submit" ng-click="ctrl.emailLogin()">
          Login with Email
        </button>
        <button class="button button-block button-stable" 
          ui-sref="app.register">
          Register
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>